@import 'typography';

.logo {
  @extend %h1;
  font-size: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.icon {
  color: $secondary;
}

.nba {
  color: $primary;
}

.stats {
  color: $secondary;
}
