@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Roboto');

@mixin font-body {
  font-family: 'Roboto', 'Helvetica', Arial, sans;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.15;
  color: $black;
}

%font-body {
  @include font-body;
}

%h1 {
  @extend %font-body;
  font-size: 32px;
  font-weight: bold;
}

h1 {
  @extend %h1;
  margin: 0;
}

%h2 {
  @extend %font-body;
  font-size: 24px;
  font-weight: 600;
}

h2 {
  @extend %h2;
  margin: 0;
}

%font-caption {
  @extend %font-body;
  font-size: 10px;
}

%font-label {
  @extend %font-body;
  font-weight: 600;
}

%font-label-input {
  @extend %font-body;
  font-size: 20px;
}

%font-label-button {
  @extend %font-body;
  font-size: 16px;
  font-weight: bold;
}
