$primary: #17408b;
$secondary: #c9082a;

$primary-light: #e2eafa;

$white: #ffffff;
$gray100: #f1f0f5;
$gray200: #d7d5df;
$gray300: #aaa;
$black: #01033a;

$error: #890416;

$navbarOffset: 80px;

$mobileBreakpoint: 960px;
