.cover {
  background: url(../../../assets/homepage/cover.png) no-repeat center center fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.container {
  padding: 20px;
}

.searchInput {
  width: 50%;
  margin-top: 100px;
  transform: translateX(50%);
}

.button {
  position: absolute;
  left: 50%;
  top: 400px;
  transform: translateX(-50%);
}

@media (max-width: 960px) {
  .container {
    padding: 0;
  }

  .searchInput {
    width: 100%;
    margin-top: 50px;
    transform: translateX(0);
  }

  .button {
    top: 250px;
  }
}
