@import 'variables';

.container {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  z-index: 10;
}

.items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search {
  width: 350px;
}

@media (max-width: $mobileBreakpoint) {
  .items {
    display: block;
  }
  .search {
    width: unset;
  }
}
