@import 'typography';

.container {
  position: relative;
}

.input {
  @extend %font-label-input;
  width: 100%;
  height: 55px;
  border-radius: 20px;
  background: $white;
  border: 3px solid $gray200;
  padding: 16px 44px 16px 20px;
  &::-webkit-input-placeholder {
    color: $gray200;
  }
  &:focus {
    outline: none;
    &::-webkit-input-placeholder {
      color: transparent;
    }
  }
  -webkit-appearance: none;
}

.suffix {
  @extend %font-label-input;
  color: $gray200;
  position: absolute;
  top: 16px;
  right: 20px;
}
