@import 'typography';

.container {
  position: relative;
}

.input {
  @extend %font-label-input;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  background: $white;
  border: 3px solid $gray200;
  padding: 16px 20px 16px 20px;
  &.withSuffix {
    padding-right: 44px;
  }
  &:focus {
    outline: none;
    &::-webkit-input-placeholder {
      color: transparent;
    }
  }
  &::-webkit-input-placeholder {
    color: $gray200;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -webkit-appearance: none;
}

.suffix {
  @extend %font-label-input;
  color: $gray200;
  position: absolute;
  top: 12px;
  right: 20px;
}
